* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Courier New', Courier, monospace;
}
body {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #e6e5e5;
}
app-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
